.modal-app-logout {
    position: relative;
    width: auto;
    text-align: center;
    font-family: Roboto, sans-serif;

    .modal-logout-content {
        transform: none;
        border-radius: 0.25rem;
        background-color: #fff !important;
        width: 100px;
        height: 50px;
        position: absolute;
        margin-left: -109px;
        margin-top: 20px;

        .header-modal {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 1rem 1rem;
            border-top-left-radius: 0.3rem;
            border-top-right-radius: 0.3rem;

            .modal-title {
                margin-bottom: 0;
                line-height: 1.5;
            }
        }

        .body-modal {
            padding: 40px 25px;
            position: relative;
            flex: 1 1 auto;

            .add-fun {
                text-align: center;

                .btn-warning {
                    background: #f49322 !important;
                    color: #fff !important;
                    border: none;
                }
            }
        }
    }

    .text-dark {
        color: #343a40 !important;
    }
}
